body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    height: 782px;
}

.td-left {
    Width: 350px;
}

.td-center {
    Width: auto;
}

.td-right {
    Width: 200px;
}

.style-txt-email {
    width: 400px;
    padding: 5px 6px;
    margin-left: 20px;
}

.style-bt-send {
    background-color: #0094ff;
    color: white;
    padding: 2px 2px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 70px;
}
