<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obter mais informações sobre como configurar seu aplicativo ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="cadastroConnectionString" connectionString="server=localhost;user id=root;password=123456;database=cadastro"
		 providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2"/>
		<httpRuntime targetFramework="4.7.2"/>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" />
	</system.web>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="AtendeClienteServiceSoapBinding">
					<security mode="Transport" />
				</binding>
				<binding name="AtendeClienteServiceSoapBinding1" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="https://apps.correios.com.br/SigepMasterJPA/AtendeClienteService/AtendeCliente"
			 binding="basicHttpBinding" bindingConfiguration="AtendeClienteServiceSoapBinding"
			 contract="WSCorreios.AtendeCliente" name="AtendeClientePort" />
		</client>
	</system.serviceModel>
</configuration>
